<!-- start custom footer snippets -->
<div style="width: 50%; margin: 0 auto;">
Kunder & arbejdsgivere:

<figure class="third">
    <img
    class="col client-logo one left"
    src="/assets/images/Light_Bg_Logo_Digital_Devotion_Games.png"
    alt="Digital Devotion Games"
    title="Digital Devotion Games"
  />
  <img
    class="col client-logo one left boxed-logo"
    src="/assets/images/CreyLogo_Seconday_10_WHT.png"
    alt="CREY Games"
    title="CREY Games"
  />
  <img
    class="col client-logo one left"
    src="/assets/images/DR_RGB_okt2015_RT1.png"
    alt="DR"
    title="DR"
  />
  <img
    class="col client-logo one left boxed-logo"
    src="/assets/images/Planday-logo-vert-white-2.png"
    alt="Planday"
    title="Planday"
  />
  <img
    class="col client-logo one"
    src="/assets/images/tv3.png"
    alt="TV3"
    title="TV3"
  />
</figure>
</div>
<!-- end custom footer snippets -->
